header {
    position: fixed;
    top: 0%;
    right: 0%;
    left: 0%;
    bottom: 85%;
    background-color: gray;
    display: flex;
    flex-direction: row;
}

.menu {
    margin-left: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 5%;
}

.menu button {
    padding: 20%;
}

.error {
    color: red;

}

body {
    background-color: aquamarine;
    margin-top: 20%;
}

img {
    width: 175px;
    height: 100px;
}